.banner {
	width: 100%;
	background-color: red;
	color: white;
}

.footer {
	width: 100%;
	background-color: blue;
	color: white;
}

.nav a{
	position: relative;
	display: inline-block;
	float: right;
}