/**
 * ----------------------------------------------------------------------------------------
 *  FOOTER STYLES.
 * ----------------------------------------------------------------------------------------
 */

 .footer { 
 	background-color: $color-1;
 	li {
 		list-style: none;
 	}
 }

 .social-icons {
 	text-align: right;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	font-size: 1.8rem;
 	color: $color-5;
 	a {
 		color: #02aedc;
 		border-radius: 50%;
 		padding-right: 10px;
 		padding-bottom: 20px;
 	}
 }

 .social-icons a:hover
   {
 	color: $color-5;
 }



